In [6]:
#import packages
import numpy as np
import cv2
import pandas as pd
import matplotlib.pylab as plt
import os
from os.path import join

In [7]:
#read the answer file
img_ans = cv2.imread(os.getcwd() + '\\Answer\\3A.png') 

#read image of one of the students
img_stu = cv2.imread(os.getcwd() + '\\Data\\2000113_NguyenBaoNgan_3A.png') 

ans = ['A','B','C','D','E']
st,ed = 160, 270
step = 139

lst, name = [], []
path = os.getcwd() + '\\Data'

#split the name, surname, student ID and the answer's code
for i in os.listdir(path):
    s = i[0: -4].split('_')
    t = 0
    pos, temp = [], []
    for j,k in enumerate(s[1]+'A'): 
        if k.isupper(): pos.append(j)

    for d in range(len(pos)-1): 
        temp.append( s[1][pos[d] : pos[d+1]] )
    name.append(temp)
    lst.append(s)

In [8]:
#setting up the student dataframe and export it
df = pd.DataFrame(lst, columns = ['StudentID', 'Name', 'Code'])
df['Surname'] = [ ' '.join(i[0: len(i)-1]) for i in name ]
df['First Name'] = [ i[-1] for i in name ]
df = df[['StudentID', 'Surname', 'First Name', 'Code']]
df.to_csv(os.getcwd() + '\\Output\\student.csv', index = False, header = True)
print("2. From the Data folder, generating student.csv (StudentID, Surname, Firstname, Code) by coding")
df.index += 1
df

2. From the Data folder, generating student.csv (StudentID, Surname, Firstname, Code) by coding

   StudentID            Surname First Name  Code
1    2000101         Nguyen Van         An    3A
2    2000102      Nguyen Truong        Bao    3A
3    2000103           Tran Van      Cuong    3A
4    2000104         Truong Thi       Diem    3A
5    2000105           Le Thanh         Em    3A
6    2000106         Truong Thi        Fuc    3A
7    2000107         Nguyen Thi      Giang    3A
8    2000108          Tran Minh       Hang    3A
9    2000109         Huynh Cong       Jack    3A
10   2000110       Nguyen Trung        Kim    3A
11   2000111           Pham Van        Lam    3A
12   2000112  Nguyen Tran Thien       Manh    3A
13   2000113         Nguyen Bao       Ngan    3A
14   2000114           Le Quang       Oach    3A
15   2000115          Pham Tran     Phuong    3A
16   2000116         Nguyen Van       Dung    3A
17   2000117       Le Thi Thanh       Xuan    3A
18   2000118          Doan Ngoc       Khue    3A
19   2000119       Tran Le Ngoc       Tram    3A
20   2000120         Nguyen Dac        Tan    3A
21   2000121        Nguyen Quoc       Tuan    3A
22   2000122         Hong Hoang       Ngan    3A
23   2000123       Le Thi Thanh         An    3A
24   2000124          Dang Hoai       Ngoc    3A
25   2000125      Phan Thi Thao         Vy    3A
26   2000126          Phan Kieu         My    3A
27   2000127         Quy Nu Bao       Truc    3A
28   2000128           Do Hoang       Ngan    3A
29   2000129            Ho Cong      Thanh    3A
30   2000130         Le Thi Nhu       Ngoc    3A
31   2000131        Nguyen Manh       Hung    3A
32   2000132        Truong Minh      Hoang    3A
33   2000133         Nguyen Van       Toan    3A
34   2000134         Hoang Thao         My    3A
35   2000135            Vo Hoai       Ngoc    3A
36   2000136           Phan Boi       Tran    3A
37   2000137          Vu Thi My       Hanh    3A
38   2000138        Pham Thi My       Linh    3A
39   2000139       Nguyen Quang        Tri    3A
40   2000140        Nguyen Cong       Hung    3A
41   2000141        Nguyen Minh       Hieu    3A
42   2000142        Nguyen Cong        Hau    3A
43   2000143    Nguyen Thi Thuy      Duong    3A
44   2000144     Tran Huy Tung3          A  None
45   2000145         Dang Thanh        Nga    3A
46   2000146               Dang       Sang    3A
47   2000147      Ngo Thi Khanh         Ly    3A
48   2000148       Nguyen Quang         Du    3A
49   2000149       Nguyen Quang        Tan    3A
50   2000150     Nguyen Thi Kim        Anh    3A

In [9]:
#Grayscaling the image for better detection
def grayscale(image):
    gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)
    #blur = cv2.GaussianBlur(gray, (5,5), 0)
    _, thresh = cv2.threshold(gray, 170, 255, cv2.THRESH_BINARY_INV)
    return thresh

In [10]:
#split the image into 5 different sections for later calculations
def chunk_process(image): 
    he, wi = image.shape[0], image.shape[1]
    hedv = he // 5
    boxes = [[],[],[],[],[]]
    t1 = 0
    for i in range(0, 5):
        row = image[t1 : hedv, :]
        hedv += he // 5
        t1 += he // 5
        t2 = 0
        widv = wi // 5
        for _ in range(0,5):
            col = row[:, t2 : widv]
            widv += wi // 5
            t2 += wi // 5
            boxes[i].append(col)
    return boxes

In [11]:
#Split the sections again into 25 boxes and calculating the answer
def main_process(arr, img, x, y, z):
    d = z
    for mtp in range(0,6):
        pic = grayscale(img[st + step * mtp: ed + step * mtp, x : y])
        box = chunk_process(pic)
        for i in range(0,5):
            d += 1
            max = -999
            for j in range(0,5):
                temp = cv2.countNonZero(box[i][j])
                if max < temp: 
                    max = temp
                    idx = j
            arr.append(ans[idx])
    return d

In [12]:
#setting up the answers list
answer = []
d = main_process(answer, img_ans, 140, 335, 0)
_ = main_process(answer, img_ans, 500, 690, d)

In [13]:
#print first 5 answer of a random student
stu = []
d = main_process(stu, img_stu, 140, 335, 0)
main_process(stu, img_stu, 500, 690, d)
print("3. Generating the first 5 answers of one student")
print([stu[i] for i in range(0,5)])

3. Generating the first 5 answers of one student
['A', 'D', 'B', 'E', 'C']

In [14]:
print("4. Generating all answers of one student")
print(stu)

4. Generating all answers of one student
['A', 'D', 'B', 'E', 'C', 'B', 'D', 'C', 'A', 'D', 'C', 'B', 'A', 'A', 'D', 'D', 'B', 'D', 'A', 'C', 'A', 'D', 'C', 'D', 'A', 'E', 'D', 'C', 'B', 'A', 'C', 'D', 'C', 'A', 'E', 'B', 'E', 'A', 'C', 'B', 'E', 'C', 'A', 'B', 'E', 'E', 'B', 'A', 'C', 'A', 'D', 'C', 'E', 'A', 'C', 'C', 'B', 'E', 'A', 'D']

In [15]:
#counting the scores of the students
sid, score, pf = [], [], []
num = [ _ for _ in range(1,61) ]
wrong = [ 0 for _ in range(0,60) ]

for i in os.listdir(path):
    sid.append(i[0:7])
    input_stu = cv2.imread(join(path, i)) #read the students' image files
    stu = []
    temp = 0

    d = main_process(stu, input_stu, 140, 335, 0)
    main_process(stu, input_stu, 500, 690, d)

    for x in range(0, len(stu)):
        if stu[x] == answer[x]:
            temp += 1
        else: wrong[x] += 1
            
    if temp <= 30: pf.append('Fail')
    else: pf.append('Pass')

    score.append("{:.2f}".format((temp / 60) * 10))

In [16]:
#this is the pandas part made by Nhi, and the rest is made by Dan
board = pd.DataFrame(sid, columns = ['StudentID'])
board['Grading'] = score
board['Final Result'] = pf
board.to_csv(os.getcwd() + '\\Output\\grading.csv', index = False, header = True)
print("""5. Generating grading.csv (StudentID, Grading).
7. Generating the final result (pass/fail) of the class.""")
board.index += 1
board

5. Generating grading.csv (StudentID, Grading).
7. Generating the final result (pass/fail) of the class.

   StudentID Grading Final Result
1    2000101    2.50         Fail
2    2000102    2.50         Fail
3    2000103    1.83         Fail
4    2000104    2.17         Fail
5    2000105    2.17         Fail
6    2000106    2.17         Fail
7    2000107    1.83         Fail
8    2000108    3.33         Fail
9    2000109    2.50         Fail
10   2000110    3.00         Fail
11   2000111    2.50         Fail
12   2000112    2.67         Fail
13   2000113    2.67         Fail
14   2000114    1.83         Fail
15   2000115    2.33         Fail
16   2000116    8.00         Pass
17   2000117    6.33         Pass
18   2000118    6.67         Pass
19   2000119    8.00         Pass
20   2000120    7.00         Pass
21   2000121    2.33         Fail
22   2000122    5.50         Pass
23   2000123    7.33         Pass
24   2000124    6.17         Pass
25   2000125    6.50         Pass
26   2000126    6.17         Pass
27   2000127    6.17         Pass
28   2000128    6.17         Pass
29   2000129    5.83         Pass
30   2000130    6.17         Pass
31   2000131    7.17         Pass
32   2000132    6.17         Pass
33   2000133    5.17         Pass
34   2000134    5.00         Fail
35   2000135    2.67         Fail
36   2000136    3.00         Fail
37   2000137    2.67         Fail
38   2000138    2.33         Fail
39   2000139    2.67         Fail
40   2000140    2.83         Fail
41   2000141    2.67         Fail
42   2000142    2.50         Fail
43   2000143    2.00         Fail
44   2000144    2.00         Fail
45   2000145    2.00         Fail
46   2000146    1.83         Fail
47   2000147    1.83         Fail
48   2000148    3.50         Fail
49   2000149    3.50         Fail
50   2000150    3.83         Fail

In [17]:
#Create dataframe for ranking the questions' difficulty
question = pd.DataFrame(num, columns = ['Question'])
question['Count'] = wrong
question = question.sort_values(by='Count')
res = question['Question'].tolist()
print("6. Summary which 3 questions are the most difficult.")
for i in range(0,3):
    print(i+1,'-', res[i])

6. Summary which 3 questions are the most difficult.
1 - 6
2 - 7
3 - 56